/* stylelint-disable custom-property-pattern */
@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("./Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Цвета для темы */
  --z-index: 999;
  --font-inter: "Inter", system-ui, sans-serif;

  /* Цвета поверхностей */
  --fg-primary: var(--color-gray-700);
  --fg-secondary: var(--color-gray-900);
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-200);

  /* Цвета кнопок */
  --btn-fg-ghost: var(--color-gray-400);
  --btn-fg-filled: var(--color-white);
  --btn-fg-outlined: var(--color-gray-700);
  --btn-bg-filled: var(--color-teal-700);

  /* Цвета тегов */
  --tag-fg-selected: var(--color-white);
  --tag-bg-selected: var(--color-gray-800);
  --tag-bg-primary: var(--color-gray-200);
  --tag-fg-primary: var(--color-gray-700);

  /* Spacing (single source of truth) */
  --space-sm: calc(var(--spacing) * 2); /* 8px  – tight UI */
  --space-md: calc(var(--spacing) * 4); /* 16px – default */
  --space-lg: calc(var(--spacing) * 6); /* 24px – sections / panels */
}

@utility container-* {
  margin-inline: auto;
  width: --value(--container-*);
  padding-inline: calc(var(--spacing) * 4);
}

@layer base {
  ul,
  ol,
  summary {
    list-style: none;
    padding: 0;
  }

  body {
    background-color: var(--bg-primary);
    color: var(--fg-primary);
    font-family: var(--font-inter);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    text-align: justify;
  }

  p {
    line-height: var(--space-lg);
  }

  svg {
    height: 100%;
    width: 100%;
    max-width: 24px;
    max-height: 24px;
    box-sizing: content-box;
  }

  h1,
  .heading-1 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-3xl--line-height);
    font-size: var(--text-3xl);
  }

  h2,
  .heading-2 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-2xl--line-height);
    font-size: var(--text-2xl);
  }

  h3,
  .heading-3 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-xl--line-height);
    font-size: var(--text-xl);
  }

  h4,
  .heading-4 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-lg--line-height);
    font-size: var(--text-lg);
  }

  h5,
  .heading-5 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-md--line-height);
    font-size: var(--text-md);
  }

  h6,
  .heading-6 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-base--line-height);
    font-size: var(--text-base);
  }
}

@layer components {
  .page-loader {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-index);
  }

  .page-loader__spinner {
    width: 4rem;
    height: 4rem;
    border: 6px solid rgba(255, 255, 255, 30%);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .page-loader[data-visible="false"] {
    display: none;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
  }

  .overlay[data-visible="true"] {
    pointer-events: auto;
  }

  /* Backdrop */
  .overlay__backdrop {
    position: absolute;
    inset: 0;
    z-index: var(--z-index);
    background: rgba(0, 0, 0, 0%);
    opacity: 0;
    backdrop-filter: none;
    transition:
      background-color 200ms linear,
      opacity 200ms linear,
      backdrop-filter 200ms linear;
  }

  .overlay[data-visible="true"] .overlay__backdrop {
    background: rgba(0, 0, 0, 30%);
    opacity: 1;
    backdrop-filter: blur(3rem);
  }

  /* Panel */
  .overlay__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
    background: var(--bg-primary);
    padding: var(--space-sm) var(--space-md);
    transform: translateX(-125%);
    transition: transform 250ms ease;
    transition-delay: 50ms;
    z-index: calc(var(--z-index) + 1);
  }

  .overlay[data-visible="true"] .overlay__panel {
    transform: translateX(0);
  }

  .nav__item {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-md) var(--space-sm);
    color: var(--color-gray-500);
    cursor: pointer;
  }

  .nav__item[data-current="true"] {
    background-color: var(--color-gray-100);
  }

  .nav__item:hover {
    background-color: var(--color-gray-50);
  }

  .nav__item-svg,
  .nav__item svg {
    color: var(--color-gray-400);
  }

  .btn {
    width: max-content;
    cursor: pointer;
    border-radius: var(--radius-sm);
    font-family: var(--font-inter);
    transition:
      transform 120ms ease,
      box-shadow 120ms ease;
  }

  .btn:active {
    transform: translateY(1px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 15%);
  }

  .btn--filled {
    background-color: var(--btn-bg-filled);
    color: var(--btn-fg-filled);
    padding: var(--space-sm) var(--space-md);
  }

  .btn--outlined {
    background-color: var(--bg-primary);
    color: var(--btn-fg-outlined);
    border: 1px solid var(--color-gray-300);
    padding: var(--space-sm) var(--space-md);
  }

  .btn--ghost {
    background: transparent;
    color: var(--btn-fg-ghost);
    padding: var(--space-sm);
  }

  .tag {
    border-radius: var(--radius-sm);
    color: var(--tag-fg-primary);
    background-color: var(--tag-bg-primary);
    padding: calc(var(--space-sm) / 2) var(--space-md);
  }

  .tag[data-selected="true"] {
    color: var(--tag-fg-selected);
    background-color: var(--tag-bg-selected);
  }

  .filters {
    display: flex;
    flex-direction: column;
  }

  .filters__toggle {
    cursor: pointer;
  }

  .filters[open] .filters__toggle {
    color: var(--color-gray-600);
  }

  .filters__content {
    margin-top: var(--space-lg);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    max-height: 0;
    opacity: 0;
    transform: translateY(-0.25rem);
    overflow: hidden;
    transition:
      max-height 200ms ease,
      opacity 200ms ease,
      transform 200ms ease;
  }

  .filters[open] .filters__content {
    max-height: 12.5rem;
    opacity: 1;
    transform: translateY(0);
  }

  .filters__input {
    display: none;
  }

  .pagination {
    align-self: flex-end;
    justify-content: center;
    margin-top: var(--space-md);
    display: flex;
    gap: var(--space-sm);
    color: var(--color-gray-600);
  }

  .pagination__arrow {
    width: 1rem;
    height: 1rem;
    color: var(--color-gray-500);
    cursor: pointer;
  }

  .pagination__list {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: var(--space-sm);
    flex-wrap: wrap;
  }

  .pagination__item {
    padding: var(--space-sm) var(--space-sm);
    border: 1px solid var(--color-gray-300);
    background: transparent;
    color: var(--color-gray-800);
    cursor: pointer;
  }

  .pagination__item[data-selected="true"] {
    background-color: var(--color-gray-800);
    color: var(--color-white);
    border-color: var(--color-gray-800);
    pointer-events: none;
    cursor: default;
  }

  .pagination__input {
    display: none;
  }

  .prose {
    font-size: var(--text-base);
    display: flex;
    flex-direction: column;
  }

  .prose img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    aspect-ratio: auto;
    align-self: center;
  }

  .prose > * + * {
    margin-top: var(--space-md);
  }

  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-xl--line-height);
    font-size: var(--text-xl);
  }

  .prose p {
    line-height: calc(var(--space-md) * 2); /* ~32px */
    margin-block: var(--space-sm);
  }

  .prose ul,
  .prose ol {
    margin-block: var(--space-md);
    padding-left: var(--space-lg);
  }

  .prose ul {
    list-style-type: disc;
  }

  .prose ol {
    list-style-type: decimal;
  }

  .prose li ol,
  .prose li ul {
    margin-block: 0;
  }

  .prose li {
    padding-top: var(--space-sm);
    line-height: var(--space-lg);
  }

  .prose li::marker {
    color: var(--fg-tertiary);
  }

  .prose code {
    font-size: 0.95em;
  }

  /* Стили только для контейнера <pre> */
  .prose pre {
    border-radius: var(--space-sm);
    margin-block: var(--space-md);
    box-sizing: border-box;
    overflow: hidden; /* НЕ скрываем скролл, пусть <code> сам скроллится */
  }

  /* <code> внутри <pre> */
  .prose pre code {
    display: block; /* чтобы блок был шире строки */
    overflow: auto hidden; /* горизонтальный скролл */ /* вертикальный не нужен */
    scrollbar-gutter: stable; /* ширина скролла не влияет на layout */
    background: transparent; /* чтобы не конфликтовало с темой */
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 25%) transparent;
  }

  /* Chrome, Edge, Safari */
  .prose pre code::-webkit-scrollbar {
    height: 6px;
  }

  .prose pre code::-webkit-scrollbar-track {
    background: transparent;
  }

  .prose pre code::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 25%);
    border-radius: 3px;
  }

  .prose pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 40%);
  }

  .prose a {
    font-weight: 600;
    color: blue;
    text-decoration: underline;
  }

  .prose a:visited {
    color: plum;
  }
}
